//================desktop navigation menu ==================
.desktop-navigation
	.container	
		.header-menu
			ul
				li
					a(href="index.html") Главная
				li
					a(href="uslugi.html") Услуги
				li
					a(href="#") Цены
				li
					a(href="#") Районы обслуживания
				li
					a(href="#") Оформление заявки
				li
					a(href="#") Наши работы
				li
					a(href="#") Контакты