//================= mobile-menu ====================== 
.mobile-menu#mobile-menu
	.menu-toggle#mobile-menu-close
		span
	.mobile-menu__nav
		ul
			li
				a(href="index.html") Главная
			li
				a(href="uslugi.html") Услуги
			li
				a(href="price.html") Цены
			li
				a(href="region.html") Районы обслуживания
			li
				a(href="#") Оформление заявки
			li
				a(href="portfolio.html") Наши работы
			li.active
				a(href="contacts.html") Контакты
	
	
	.mobile-menu__contacts
		.contacts-block__col
			a(href="").text-link Выбрать район
			a(href="mailto:info@voda-doma.ru ").text-link info@voda-doma.ru
			
		.contacts-block__col.contacts-block__tel
			a(href="tel:+79030014134").text-link +7 (903) 001-41-34
			a(href="tel:+74958773814").text-link +7 (495) 877-38-14
	
	.mobile-menu__btn
		a(href="#!").btn Заказать звонок
