//================= mobile-menu ====================== 
.mobile-menu#mobile-menu
	.mobile-menu__nav
		ul
			li
				a(href="#") Главная
			li
				a(href="#") Услуги
			li
				a(href="#") Цены
			li
				a(href="#") Районы обслуживания
			li
				a(href="#") Оформление заявки
			li
				a(href="#") Наши работы
			li.active
				a(href="#") Контакты
	
	
	.mobile-menu__contacts
		.contacts-block__col
			a(href="").text-link.text-dark Выбрать район
			a(href="mailto:info@voda-doma.ru ").text-link info@voda-doma.ru
			
		.contacts-block__col.contacts-block__tel
			a(href="tel:+79030014134").text-link +7 (903) 001-41-34
			a(href="tel:+74958773814").text-link +7 (495) 877-38-14
	
	.mobile-menu__btn
		a(href="#!").btn Заказать звонок
