.header-banner{
	height: 868px;
	// height: 100vh;
	background-color: #000;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0, .7);
	}
	.container{
		position: relative;
		z-index: 2;
	}
	@media (max-width: 767px) {		
		height: auto;
		min-height: 100vh;
	}
}