.header{
	position: absolute;
	// z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	&-content{
		background-color: #fff;
		min-height: 110px;
		padding-left: 50px;
		padding-right: 50px;
		display: flex;
		align-items: center;
		border-radius: 0px 0px 30px 30px;
		@media (max-width: 1364px) {
			padding-left: 25px;
			padding-right: 25px;
			min-height: 70px;
		}
		@media (max-width: 767px) {
			padding-left: 15px;
			padding-right: 15px;
			justify-content: space-between;
			min-height: 40px;
			border-radius: 0px 0px 10px 10px;
			
		}
		
	}
	&-btn{
		margin-left: 57px;
		@media (max-width: 1199px) {
			margin-left: 50px;
		}
		@media(max-width:767px){
			margin-left:unset;
		}
		.btn,.btn-accent{
			display: inline-block;
			@media(max-width:1199px){
				display: none;
			}
		}
	}
	.text-block{
		margin-left: 70px;
		font-family: $ff2;
		font-weight: 300;
		font-size: 14px;
		@media(max-width:1364px){
			font-size: 12px;
			margin-left: 55px;
		}
		@media(max-width:767px){
			display: none;
		}
	}
	@media(max-width:574px){
		.container{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.logo img{
	width: 90px;
	height: 60px;
	object-fit: cover;
	@media(max-width:1199px){
		width: 60px;
		height: 40px;
	}
	@media(max-width:767px){
		width: 45px;
		height: 30px;
	}
}
.contacts-block{
	margin-left: auto;
	display: flex;
	@media(max-width:767px){
		margin-left:unset;
	}
	.text-link{
		font-size: 16px;
		font-family: $ff2;
		font-weight: 500;
		@media(max-width:1364px){
			font-size: 12px;
		}
		@media(max-width:767px){
			& + .text-link{display: none;}
		}
	}
	&__col{
		display: flex;
		flex-direction: column;
		&>*+*{margin-top: 4px;}
		
	}
	.contacts-block__col+.contacts-block__col{margin-left: 70px;}
	
	@media(max-width:1023px){
		.contacts-block__col:first-child{display: none;}
		.contacts-block__col+.contacts-block__col{margin-left: 0}
	}
	
}
/*синий язычок в шапке */
.header.header-inner{
	.header-content{background-color: $dark;}
	&>*, .text-link{color: #fff;}
	.text-link--accent{color: $accent;}
	.menu-toggle span,.menu-toggle span:after, .menu-toggle span:before{
		background-color: #fff;
	} 	
}
/*========GAMBURGER======*/
.menu-toggle {
	display: none;
	z-index: 30;
	cursor: pointer;
}

@media (max-width: 1199px) {
	.menu-toggle {
		display: block;
		margin-left: auto;
		
		text-align: center;
		position: relative;
		width: 35px;
		height: 20px;

	}
}

.menu-toggle span {
	position: absolute;
	display: block;
	// width: 35px;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: $dark;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.menu-toggle span:after,
.menu-toggle span:before {
	content: '';
	position: absolute;
	left: 0;
	height: 3px;
	background-color: $dark;
	border-radius: 5px;
	right: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.menu-toggle span:after {
	top: -8px;
}

.menu-toggle span:before {
	bottom: -8px;
}

.menu-toggle.active span {
	background-color: transparent!important;
}

.menu-toggle.active span:after {
	top: 0px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #fff;
}

.menu-toggle.active span:before {
	bottom: 0px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #fff;
}
@media(max-width:767px){
	.menu-toggle{
		width: 25px;
		span{height: 2px;}
	}
	.menu-toggle span:after {
		top: -5px;
		height: 2px;
	}

	.menu-toggle span:before {
		bottom: -5px;
		height: 2px;
	}
}