.statistic{
	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	
	
}
.statistic-info{
	display: flex;
	justify-content: space-between;
	@media (max-width: 767px) {
		flex-wrap:wrap;
		justify-content: center;
		column-gap: 20px;
		row-gap: 50px;
		.statistic-item{
			width: 45%;
		}
	}
	@media (max-width: 424px) {
		
		.statistic-item{
			width: 100%;
		}
	}
}
.statistic-item{
	text-align: center;
	span{
		display: block;
		color: $accent;
		font-size: 20px;
	}
	p{
		font-family: $ff2;
		font-size: 60px;
		line-height: 1.2;
		font-weight: 600;
	}
	span + p{margin-top: 5px;}
	p + span{margin-top: 5px;}
	@media (max-width: 1199px) {
		span{font-size: 16px;}
		p{font-size: 42px;}
	}
}