
.page-404__img
	img.img-desktop(src="./img/404-bg.png", alt="img")
	img.img-mobile(src="./img/404-bg2.png", alt="img")
section.page-404
	.page-404__img
		
	.container
		.h2  Страница не найдена
		.page-404__content
			.page-404__title 404
			.medium-20 Возможно страница была удалена или в запросе был указан неверный адрес
			a.btn(href="index.html") Вернуться на главную