section.assess
	.assess-content
		.assess-img
			img(src="./img/calc-bg.png", alt="alt")
		.container
			.assess-content__grid
				.assess-left
					.h2 Оценка объекта
					.assess-list
						.assess-list__title На стоимость влияют:
						.assess-list-block
							.icon-text
								img(src="./img/ic-height.png", width="45" alt="alt")
								p Глубина скважины
							.icon-text
								img(src="./img/ic-state.png", width="45" alt="alt")
								p Степень загрязнения
							.icon-text
								img(src="./img/ic-clock.png", width="45" alt="alt")
								p Срок сдачи работы
							.icon-text
								img(src="./img/ic-address.png", width="45" alt="alt")
								p Адрес объекта
						.assess-form
							form(action="" method="method")
								.form-row
									.form-item
										input(type="text" name="user" placeholder="Имя")
									.form-item
										input(type="text" name="phone" placeholder="Телефон")
								.form-row.form-row--bottom
									.agree-text
										p Заполняя форму, Вы даете согласие на обработку персональных данных
									
									.form-btn
										button.btn-accent(type="submit" ) Получить консультацию
									

				.assess-right
					.assess-right__img
						img(src="./img/car.png", width="947" alt="")
					.assess-right__top
						.medium-20 Успейте заказать
						.text-18  у нас любую из представленных #[br] услуг

					.assess-right__bottom
						.text-18 и получите
						.bold-20.text-upper скидку до конца дачного#[br] сезона
