section.benefits
	.container
		.benefits-content
			.benefits-content__img
				img(src="./img/cup.png", width="490" alt="img")
			.benefits-left
				.h2 Почему нас выбирают?
				.benefits-list
					ul
						li Работаем по договору
						li Даём гарантию до 5 лет
						li Работаем чисто и качественно
			.benefits-right
				.benefits-list
					ul
						li Специализированные рабочие
						li Качественные материалы
						li Не пропадаем после выполненных работ
						li Не заезжаем тяжёлой техникой