section.benefits
	.container
		.benefits-content
			.benefits-content__img
				img(src="./img/cup.png", width="490" alt="img")
			.benefits-left
				.h2 Почему нас выбирают?
				.benefits-list
					ul
						li 
							p Работаем по#[br.visible-tablet] договору
							span
						li 
							p Даём гарантию#[br.visible-tablet] до&nbsp;5&nbsp;лет
							span
						li 
							p Работаем чисто и#[br.visible-tablet] качественно
							span
			.benefits-right
				.benefits-list
					ul
						li 
							p Специализированные#[br.visible-tablet] рабочие
							span
						li 
							p Качественные#[br.visible-tablet] материалы
							span
						li 
							p Не пропадаем после#[br.visible-tablet] выполненных работ
							span
						li 
							p Не заезжаем#[br.visible-tablet]тяжёлой техникой
							span