section.faq
	.container
		.h2 Вопросы и ответы
		.faq-content
			.acor-container
				//=========== single block =============
				.acor-item
					input#acor1(type='checkbox' name='acor' checked='checked')
					label(for='acor1') Как продлить срок службы колодца
					.acor-body
						p Действительно в некоторых случаях можно обойтись без углубления колодца, достаточно ремонта и чистки. Если уровень воды в колодце достаточный, то можно обойтись без углубления. Также нужно помнить о сезонности уровня воды.

						p Необходимо взвесить все за и все против углубления колодца. Услуга по углубления относительно не дешевая, это связано со сложностью проведения работ, используются специальные кольца меньшего диаметра (80 см), копать в них достаточно сложно и неудобно.

						p Со временем уровень воды в колодце может сильно упасть и уже поможет только углубление колодца или рытье нового.
				
				//=========== single block =============
				.acor-item
					input#acor2(type='checkbox' name='acor')
					label(for='acor2') Нужно углублять или ремонтировать
					.acor-body
						p Действительно в некоторых случаях можно обойтись без углубления колодца, достаточно ремонта и чистки. Если уровень воды в колодце достаточный, то можно обойтись без углубления. Также нужно помнить о сезонности уровня воды.

						p Необходимо взвесить все за и все против углубления колодца. Услуга по углубления относительно не дешевая, это связано со сложностью проведения работ, используются специальные кольца меньшего диаметра (80 см), копать в них достаточно сложно и неудобно.
				
				//=========== single block =============
				.acor-item
					input#acor3(type='checkbox' name='acor')
					label(for='acor3') Как часто необходимо проводить чистку колодца
					.acor-body
						p Действительно в некоторых случаях можно обойтись без углубления колодца, достаточно ремонта и чистки. Если уровень воды в колодце достаточный, то можно обойтись без углубления. Также нужно помнить о сезонности уровня воды.

						p Необходимо взвесить все за и все против углубления колодца. Услуга по углубления относительно не дешевая, это связано со сложностью проведения работ, используются специальные кольца меньшего диаметра (80 см), копать в них достаточно сложно и неудобно.
				
				//=========== single block =============
				.acor-item
					input#acor4(type='checkbox' name='acor')
					label(for='acor4') Наиболее распространенные причины загрязнений
					.acor-body
						p Действительно в некоторых случаях можно обойтись без углубления колодца, достаточно ремонта и чистки. Если уровень воды в колодце достаточный, то можно обойтись без углубления. Также нужно помнить о сезонности уровня воды.

						p Необходимо взвесить все за и все против углубления колодца. Услуга по углубления относительно не дешевая, это связано со сложностью проведения работ, используются специальные кольца меньшего диаметра (80 см), копать в них достаточно сложно и неудобно.
				//=========== single block =============
				.acor-item
					input#acor4(type='checkbox' name='acor')
					label(for='acor4') Как подготовиться к чистке колодца
					.acor-body
						p Действительно в некоторых случаях можно обойтись без углубления колодца, достаточно ремонта и чистки. Если уровень воды в колодце достаточный, то можно обойтись без углубления. Также нужно помнить о сезонности уровня воды.

						p Необходимо взвесить все за и все против углубления колодца. Услуга по углубления относительно не дешевая, это связано со сложностью проведения работ, используются специальные кольца меньшего диаметра (80 см), копать в них достаточно сложно и неудобно.
				//=========== single block =============
				.acor-item
					input#acor4(type='checkbox' name='acor')
					label(for='acor4') Профилактические меры
					.acor-body
						p Действительно в некоторых случаях можно обойтись без углубления колодца, достаточно ремонта и чистки. Если уровень воды в колодце достаточный, то можно обойтись без углубления. Также нужно помнить о сезонности уровня воды.

						p Необходимо взвесить все за и все против углубления колодца. Услуга по углубления относительно не дешевая, это связано со сложностью проведения работ, используются специальные кольца меньшего диаметра (80 см), копать в них достаточно сложно и неудобно.