section.feedback.bg-accent
	.feedback-img
		img(src="./img/car2.png", width="947" alt="img")
	.feedback-wrapper
		.container
			.h2  Оставьте заявку для консультации
			.feedback-content
				.feedback-text
					.icon-text
						img(src="./img/ic-price.png", width="45" alt="alt")
						p У нас фиксированная цена
					.icon-text
						img(src="./img/ic-dogovor.png", width="45" alt="alt")
						p Мы не выходим за рамки договоренности
					
					.icon-text
						img(src="./img/ic-pay.png", width="45" alt="alt")
						p Оплата по результату
				.feedback-form
					form(action="" method="method")
						.form-row
							.form-item
								input(type="text" placeholder="Имя")
							.form-item
								input(type="text" placeholder="Телефон")
						.agree-text Заполняя форму, Вы даете согласие на обработку персональных данных
						button.btn(type="submit") Получить консультацию