footer.footer
	.container
		.footer-content
			.footer-left
				a(href="#!").logo
					img(src="./img/logo-white.png", width="90"  alt="logo")
				.social-block
					a(href="#" style="background-image: url(./img/vk.png)")
					a(href="#" style="background-image: url(./img/instagram.png)")
					a(href="#" style="background-image: url(./img/youtube.png)")
			.footer-center
				.footer-center__left
					.text-500 Круглосуточно
					.contacts-wrapper
						a(href="mailto:info@voda-doma.ru ").text-link info@voda-doma.ru
						a(href="tel:+79030014134").text-link +7 (903) 001-41-34
						a(href="tel:+74958773814").text-link +7 (495) 877-38-14
				.footer-center__right
					a(href="#!").text-link.text-600 Выбрать район
					.social-block
						a(href="#" style="background-image: url(./img/vk.png)")
						a(href="#" style="background-image: url(./img/instagram.png)")
						a(href="#" style="background-image: url(./img/youtube.png)")
						

			.footer-right
				.footer-address
					p г. Москва, Булатниковский проезд, д. 10а с1
					p г. Красногорск ул. Подмосковный бульвар, 12
					p г. Мытищи, ул. Лётная, д.30 корпус 3
					p г. Апрелевка, ул.Цветочная аллея, 15
				
				.social-block
					a(href="#" style="background-image: url(./img/vk.png)")
					a(href="#" style="background-image: url(./img/instagram.png)")
					a(href="#" style="background-image: url(./img/youtube.png)")
