//============== page-top ==================
header.header
	.container
		.header-content
			.logo
				img(src="./img/logo.png", width="90" alt="logo")
			.text-block 
				p Ремонт и чистка скважин<br>в Москве и Московской обл.
			.contacts-block
				.contacts-block__col
					a(href="mailto:info@voda-doma.ru ").text-link info@voda-doma.ru
					a(href="#!" frame-btn="select-region").text-link.text-accent Выбрать район
				.contacts-block__col
					a(href="tel:+79030014134").text-link +7 (903) 001-41-34
					a(href="tel:+74958773814").text-link +7 (495) 877-38-14
			.header-btn
				button(type="button" frame-btn="modal-form").btn Заказать звонок
				.menu-toggle#menu-toggle-desk
					span