//============= первый экран banner ================
.header-banner(style="background-image: url(./img/main-header.jpg)")
	.container
		.header-banner__content
			.header-banner__text
				.header-banner__title
					h1.h1 Ремонт и очистка скважин с&nbsp;гарантией #[span.text-accent 5&nbsp;лет]
					p В Москве и Московской области
				.header-banner__benefits
					.icon-text
						img(src="./img/remont.png", width="45" alt="icon")
						p Ремонт в день обращения
					.icon-text
						img(src="./img/ic-garanty.png", width="45" alt="icon")
						p Гарантия до 5&nbsp;лет
					.icon-text
						img(src="./img/ic-consult.png", width="45" alt="icon")
						p Бесплатная консультация и видеодиагностика  
					.icon-text
						img(src="./img/ic-price.png", width="45" alt="icon")
						p Цена от 10000&nbsp;руб
				.header-banner__btn
					button(type="button" frame-btn="modal-form").btn Заказать звонок

			.header-banner__form
				.medium-20 Получите бесплатную консультацию специалиста
				form(action="" method="method")
					.form-item
						input(type="text" name="user" placeholder="Имя")
					.form-item
						input(type="text" name="phone" placeholder="Телефон")
					.form-btn
						button.btn(type="submit" ) Получить консультацию