//======== modal заказать звонок ============
.modal-frame(frame-modal="modal-form")
	.modal-frame-content
		.form-wrapper
			.modal-frame-close(frame-close)
			form
				.form-item
					input(type="text" name="name" placeholder="Имя")
				.form-item
					input(type="text" name="phone" placeholder="Телефон")
				
				.form-button
					button.btn-accent(type="submit") Заказать звонок
					.agree-text Заполняя форму, Вы даете согласие на обработку персональных данных

//======== modal Выбрать регион ============
.modal-frame.modal-frame--large(frame-modal="select-region")
	.modal-frame-content
		.modal-frame-close(frame-close)
		.modal-frame-body
			.regions-list
				a.active(href="#!") Апрелевка
				a(href="#!") Видное
				a(href="#!") Голицино
				a(href="#!") Дмитровский район
				a(href="#!") Домодедовский район
				a(href="#!") Звенигород
				a(href="#!") Зеленоградский район
				a(href="#!") Икшта
				a(href="#!") Истринский район
				a(href="#!") Красногорский район
				a(href="#!") Лобня
				a(href="#!") Люберецкий район
				a(href="#!") Москва
				a(href="#!") Мытищинский район
				a(href="#!") Наро-фоминский район
				a(href="#!") Нахабино
				a(href="#!") Ногинский район
				a(href="#!") Одинцовский район
				a(href="#!") Подольский район
				a(href="#!") Пушкино
				a(href="#!") Раменский район
				a(href="#!") Сергиево-Посадский район
				a(href="#!") Солнечногорский район
				a(href="#!") Троицк
				a(href="#!") Химкинский район
				a(href="#!") Черноголовка
				a(href="#!") Чеховский район
				a(href="#!") Щёлково