section.custom-text
	.container
		h1 Ремонт скважины
		p Наличие скважины в частном доме требует регулярного и правильного ее обслуживания. Нагрузка, которую испытывают скважины при подаче воды, периодически приводит к поломкам тех или иных узлов и деталей.
		p #[strong Осуществляем мелкий и капитальный ремонт частных скважин]
		p Помощь квалифицированных специалистов позволит всегда содержать в безупречном состоянии систему водоснабжения в частном доме. Скважина имеет сложное устройство, от ее работы зависит качество воды и здоровье домочадцев. Поэтому ремонт должны проводить профессионалы.
		p Вызовите специалиста, чтобы выяснить причину неисправности и своевременно устранить поломку. Комплекс услуг включает:
		ul
			li Диагностику
			li Замену насоса, гидробака, других узлов и оборудования
			li Устранение засоров и заиливания
			li Замену фильтров
			li Устранение протечек, свищей
			li Ремонт электрики
			li Подъем насоса со дна скважины из-за обрыва

		p Устраняем неисправности любой сложности. Рекомендуем обратиться к нам, не дожидаясь полного выхода скважины из строя. Позвоните нам, если вы обнаружили сбой в работе гидроаккумулятора, если сломался обратный клапан, износился кабель, нужна прочистка. Гарантируем профессиональный подход.
//============slogan============
section.services-feedback
	.container
		.text-block
			.text-24 Мы знаем полную технологию бурения, устройство грунтов в разных районах Москвы и Московской области, поэтому достигаем желаемого результата!
			.text-24.text-bold У вас остались вопросы?
		.center-align-mobile
			button.btn-accent(type="button" frame-btn="modal-form") Оставить заявку 


