section.present.bg-accent
	.container
		.present-content
			.present-wrapper
				.text-42  Видеодиагностика в подарок или&nbsp;скидка 10% на Ваш выбор
				.assess-form
					form(action="" method="method")
						.form-row
							.form-item
								input(type="text" name="user" placeholder="Имя")
							.form-item
								input(type="text" name="phone" placeholder="Телефон")
						.form-row.form-row--bottom
							.agree-text
								p Заполняя форму, Вы даете согласие на обработку персональных данных
							
							.form-btn
								button.btn(type="submit" ) Получить консультацию
			.present-img
				img(src="./img/decore2.png", width="304" alt="img")