section.review
	.container
		.h2 Отзывы
		.review-wrapper.swiper
			.swiper-wrapper
				.swiper-slide
					.swiper-slide__item
						a(href="./img/review1.jpg" data-fancybox="review")
							img(src="./img/review1.jpg", alt="alt")
				.swiper-slide
					.swiper-slide__item
						a(href="./img/review2.jpg" data-fancybox="review")
							img(src="./img/review2.jpg", alt="alt")
				.swiper-slide
					.swiper-slide__item
						a(href="./img/review3.jpg" data-fancybox="review")
							img(src="./img/review3.jpg", alt="alt")
				.swiper-slide
					.swiper-slide__item
						a(href="./img/review1.jpg" data-fancybox="review")
							img(src="./img/review1.jpg", alt="alt")
				.swiper-slide
					.swiper-slide__item
						a(href="./img/review2.jpg" data-fancybox="review")
							img(src="./img/review2.jpg", alt="alt")
			//========= навигация слайдера ============= 
			.slider-nav
				.swiper-button-prev
				.review-pagination.swiper-pagination
				.swiper-button-next