section.services
	.container
		.h2 Наши услуги
		//=============== табы с карточками =============
		
		.services-tabs#services-tabs
			.custom-select
				.custom-select__current
					.select-icon
					.select-field Все услуги
				.services-tab-btn.select-list
			
					ul.tabs-button
						li.tabs-button__item.active(data-role="1") Все услуги
						li.tabs-button__item(data-role="2") Очистка скважин
						li.tabs-button__item(data-role="3") Ремонт скважин
						li.tabs-button__item(data-role="4") Дополнительные услуги
			//=========== основной контент ==============
			.tabs-content-wrapper
				//========= контент первой вкладки ============
				.tabs-content.service-cards-wrapper.active(data-content="1")
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon1.png", width="180"  alt="")
						.service-card__header Ремонт скважины
						.service-card__body Осуществляем мелкий и капитальный ремонт частных скважин
						.service-card__footer от #[span 5 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon2.png", width="180"  alt="")
						.service-card__header Чистка скважины
						.service-card__body Прочищаем фильтр, удаляем пробки из ила и песка, устраненяем ржавчину 
						.service-card__footer от #[span 10 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon3.png",  width="180" alt="")
						.service-card__header Замена насоса
						.service-card__body Помогаем в подборе оборудования, устанавливаем и запускаем в работу
						.service-card__footer от #[span 10 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon4.png", width="180"  alt="")
						.service-card__header Видеодиагностика    скважины
						.service-card__body Проводим экспертизу поломок и устранят все недочеты
						.service-card__footer от #[span 6 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon5.png", width="180" alt="")
						.service-card__header Замена насоса в скважине
						.service-card__body Заменяем погружной насос в скважине, ремонтируем имеющийся насос
						.service-card__footer от #[span 14 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon6.png", width="180"  alt="")
						.service-card__header Замена фильтра в скважине
						.service-card__body Прочистим, заменим или установим дополнительный фильтр
						.service-card__footer от #[span 10 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon1.png", width="180"  alt="")
						.service-card__header Ремонт скважины
						.service-card__body Осуществляем мелкий и капитальный ремонт частных скважин
						.service-card__footer от #[span 5 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon2.png", width="180"  alt="")
						.service-card__header Чистка скважины
						.service-card__body Прочищаем фильтр, удаляем пробки из ила и песка, устраненяем ржавчину 
						.service-card__footer от #[span 10 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon3.png",  width="180" alt="")
						.service-card__header Замена насоса
						.service-card__body Помогаем в подборе оборудования, устанавливаем и запускаем в работу
						.service-card__footer от #[span 10 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon4.png", width="180"  alt="")
						.service-card__header Видеодиагностика    скважины
						.service-card__body Проводим экспертизу поломок и устранят все недочеты
						.service-card__footer от #[span 6 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon5.png", width="180" alt="")
						.service-card__header Замена насоса в скважине
						.service-card__body Заменяем погружной насос в скважине, ремонтируем имеющийся насос
						.service-card__footer от #[span 14 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon6.png", width="180"  alt="")
						.service-card__header Замена фильтра в скважине
						.service-card__body Прочистим, заменим или установим дополнительный фильтр
						.service-card__footer от #[span 10 000] руб
	
				//========= контент второй ============
				.tabs-content.service-cards-wrapper(data-content="2")
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon1.png", width="180"  alt="")
						.service-card__header Ремонт скважины
						.service-card__body Осуществляем мелкий и капитальный ремонт частных скважин
						.service-card__footer от #[span 5 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon2.png", width="180"  alt="")
						.service-card__header Чистка скважины
						.service-card__body Прочищаем фильтр, удаляем пробки из ила и песка, устраненяем ржавчину 
						.service-card__footer от #[span 10 000] руб
				//========= контент третий ============
				.tabs-content.service-cards-wrapper(data-content="3")
					.service-card
						.service-card__img
							img(src="./img/card-icon1.png", width="180"  alt="")
						.service-card__header Ремонт скважины
						.service-card__body Осуществляем мелкий и капитальный ремонт частных скважин
						.service-card__footer от #[span 5 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon2.png", width="180"  alt="")
						.service-card__header Чистка скважины
						.service-card__body Прочищаем фильтр, удаляем пробки из ила и песка, устраненяем ржавчину 
						.service-card__footer от #[span 10 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon3.png",  width="180" alt="")
						.service-card__header Замена насоса
						.service-card__body Помогаем в подборе оборудования, устанавливаем и запускаем в работу
						.service-card__footer от #[span 10 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon4.png", width="180"  alt="")
						.service-card__header Видеодиагностика    скважины
						.service-card__body Проводим экспертизу поломок и устранят все недочеты
						.service-card__footer от #[span 6 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon5.png", width="180" alt="")
						.service-card__header Замена насоса в скважине
						.service-card__body Заменяем погружной насос в скважине, ремонтируем имеющийся насос
						.service-card__footer от #[span 14 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon6.png", width="180"  alt="")
						.service-card__header Замена фильтра в скважине
						.service-card__body Прочистим, заменим или установим дополнительный фильтр
						.service-card__footer от #[span 10 000] руб
				
				//========= контент четвертый ============
				.tabs-content.service-cards-wrapper(data-content="4")
					.service-card
						.service-card__img
							img(src="./img/card-icon1.png", width="180"  alt="")
						.service-card__header Ремонт скважины
						.service-card__body Осуществляем мелкий и капитальный ремонт частных скважин
						.service-card__footer от #[span 5 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon2.png", width="180"  alt="")
						.service-card__header Чистка скважины
						.service-card__body Прочищаем фильтр, удаляем пробки из ила и песка, устраненяем ржавчину 
						.service-card__footer от #[span 10 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon3.png",  width="180" alt="")
						.service-card__header Замена насоса
						.service-card__body Помогаем в подборе оборудования, устанавливаем и запускаем в работу
						.service-card__footer от #[span 10 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon4.png", width="180"  alt="")
						.service-card__header Видеодиагностика    скважины
						.service-card__body Проводим экспертизу поломок и устранят все недочеты
						.service-card__footer от #[span 6 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon5.png", width="180" alt="")
						.service-card__header Замена насоса в скважине
						.service-card__body Заменяем погружной насос в скважине, ремонтируем имеющийся насос
						.service-card__footer от #[span 14 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon6.png", width="180"  alt="")
						.service-card__header Замена фильтра в скважине
						.service-card__body Прочистим, заменим или установим дополнительный фильтр
						.service-card__footer от #[span 10 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon4.png", width="180"  alt="")
						.service-card__header Видеодиагностика    скважины
						.service-card__body Проводим экспертизу поломок и устранят все недочеты
						.service-card__footer от #[span 6 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon5.png", width="180" alt="")
						.service-card__header Замена насоса в скважине
						.service-card__body Заменяем погружной насос в скважине, ремонтируем имеющийся насос
						.service-card__footer от #[span 14 000] руб
					a(href="#!").service-card
						.service-card__img
							img(src="./img/card-icon6.png", width="180"  alt="")
						.service-card__header Замена фильтра в скважине
						.service-card__body Прочистим, заменим или установим дополнительный фильтр
						.service-card__footer от #[span 10 000] руб

section.services-feedback
	.container
		.text-block
			.text-24 Мы знаем полную технологию бурения, устройство грунтов в разных районах Москвы и Московской области, поэтому достигаем желаемого результата!
			.text-24.text-bold У вас остались вопросы?
		.center-align-mobile
			button.btn-accent(type="button") Оставить заявку 