section.statistic.section-bg-image(style="background-image: url(./img/decore-bg.png)")
	.container
		.statistic-info
			.statistic-item
				span Опыт работы
				p 10+
				span лет
			.statistic-item
				span Выполнили более
				p 1000
				span заказов
			.statistic-item
				span Работаем
				p 24/7
				span по всей Москве и МО
			.statistic-item
				span Гарантируем
				p 100%
				span качество
		
		.page-form.mt-100
			//======= левая часть с инпутами ============
			.page-form__content
				.text-20 У Вас проблема со скважиной?
				form(action="" method="method")
					//======== чекбоксы или радиобоксы, от замены типа инпута вид не изменится =======
					.checkbox-group.checkbox-group--grid
						.form-item
							label.label
								input(type="checkbox" name="")
								span.fake-checkbox
								p Засорилась скважина
						.form-item
							label.label
								input(type="checkbox" name="")
								span.fake-checkbox
								p Перестала поступать вода
						.form-item
							label.label
								input(type="checkbox" name="")
								span.fake-checkbox
								p Щелкает реле
						.form-item
							label.label
								input(type="checkbox" name="")
								span.fake-checkbox
								p Заканчивается вода
						.form-item
							label.label
								input(type="checkbox" name="")
								span.fake-checkbox
								p Не работает насос
						.form-item
							label.label
								input(type="checkbox" name="")
								span.fake-checkbox
								p Другая причина
					.form-wrapper
						.form-item
							input(type="text" name="user" placeholder="Имя")
						.form-item
							input(type="text" name="phone" placeholder="Телефон")
						.agree-text
							p Заполняя форму, Вы даете согласие на обработку персональных данных
						
						.form-btn
							button.btn-accent(type="submit" ) Получить консультацию
						
						//======текст согласие для планшетной версии, скрыт на мобилках и десктопах ==========
						.agree-text.visible-tablet
							p Заполняя форму, Вы даете согласие на обработку персональных данных
			
			//======= правая часть с картинкой ============
			.page-form__decore
				.text-block
					.medium-20 Закажите до конца недели
					.text-18 очистку скважины или замену насоса в скважине
				
				.page-form__image
					img(src="./img/decore.png", width="340" alt="img")
				
				.text-block.text-right
					.text-18 и получите
					.bold-20.text-upper Видеодиагностику бесплатно