section.video-review
	.container
		.h2 видеоотзывы
		.video-slider.swiper
			.swiper-wrapper#video-review
				.swiper-slide
					.swiper-slide__item
						a(href="https://youtu.be/faMKtFkorY8" data-fancybox="video")
							img(src="./img/poster1.jpg", alt="alt")
				.swiper-slide
					.swiper-slide__item
						a(href="https://youtu.be/faMKtFkorY8" data-fancybox="video")
							img(src="./img/poster2.jpg", alt="alt")
				.swiper-slide
					.swiper-slide__item
						a(href="https://youtu.be/faMKtFkorY8" data-fancybox="video")
							img(src="./img/poster1.jpg", alt="alt")
				.swiper-slide
					.swiper-slide__item
						a(href="https://youtu.be/faMKtFkorY8" data-fancybox="video")
							img(src="./img/poster2.jpg", alt="alt")
				
			//========= навигация слайдера ============= 
			.slider-nav
				.swiper-button-prev
				.video-pagination.swiper-pagination
				.swiper-button-next