section.work-steps
	.container
		.h2 Этапы работы
		.work-steps-cards
			
			//===== single csrd ======
			.step-card
				.step-card__img
					img(src="./img/etap-icon1.png", width="150"  alt="img")
				.step-card__num 01
				.step-card__header Заявка
			
				.step-card__body Заполнение #[strong заявки] для обратной связи
			//===== single csrd ======
			.step-card
				.step-card__img
					img(src="./img/etap-icon2.png", width="150"  alt="img")
				.step-card__num 02
				.step-card__header Консультация
			
				.step-card__body #[strong Консультация] со специалистом по телефону
			//===== single csrd ======
			.step-card
				.step-card__img
					img(src="./img/etap-icon3.png", width="150"  alt="img")
				.step-card__num 03
				.step-card__header Выезд специалиста
			
				.step-card__body Выезд специалиста для #[br] #[strong диагностики] и расчета стоимости работы
			//===== single csrd ======
			.step-card
				.step-card__img
					img(src="./img/etap-icon4.png", width="150"  alt="img")
				.step-card__num 04
				.step-card__header Проведение работ
			
				.step-card__body #[strong Проведение работ], согласованных с заказчиком
			//===== single csrd ======
			.step-card
				.step-card__img
					img(src="./img/etap-icon5.png", width="150"  alt="img")
				.step-card__num 05
				.step-card__header Прием работ
				.step-card__body #[strong Прием] проделанных работ#[br] заказчиком