section.quiz
	.container
		.h2 оформление заявки
		form.quiz-wrapper
			.quiz-plate.active#quiz-plate-1
				.page-form
					//======= левая часть с инпутами ============
					.page-form__content
						.plate-title
							.text-20 Какой вид работы Вас интересует?
							p Шаг 1
						.quiz-questions
							.checkbox-group.checkbox-group--grid
								.form-item
									label.label
										input(type="checkbox" name="")
										span.fake-checkbox
										p Ремонт скважины
								.form-item
									label.label
										input(type="checkbox" name="")
										span.fake-checkbox
										p Ремонт, замена кессона
								.form-item
									label.label
										input(type="checkbox" name="")
										span.fake-checkbox
										p Очистка скважины
								.form-item
									label.label
										input(type="checkbox" name="")
										span.fake-checkbox
										p Застрял насос
								.form-item
									label.label
										input(type="checkbox" name="")
										span.fake-checkbox
										p Обустройство скважины
								.form-item
									label.label
										input(type="checkbox" name="")
										span.fake-checkbox
										p Замена насоса
							.quiz-btn
								button.btn.btn-next(type="button" ) Далее
								button(type="button").text-accent.btn-prev Вернуться на предыдущий вопрос
						
						.quiz-plate-bullets
							span.active
							span
							span
							span
							span
							span
					
					//======= правая часть с картинкой ============
					.page-form__decore
						.text-block
							.medium-20 Оформите заявку
							.text-18 ответив на несколько вопросов
						
						.page-form__image
							img(src="./img/decore.png", width="340" alt="img")
						
						.text-block.text-right
							.text-18 и получите
							.bold-20.text-upper Видеодиагностику бесплатно
			
			//=======  #2 =============
			.quiz-plate#quiz-plate-2
				.page-form
					//======= левая часть с инпутами ============
					.page-form__content
						.plate-title
							.text-20 Местонахождение скважины
							p Шаг 1
						.quiz-questions
							.input-label Введите название Вашего района
							.form-item
								input(type="text" name="" placeholder="Район")
							.quiz-btn
								button.btn.btn-next(type="button") Далее								
								button(type="button").text-accent.btn-prev Вернуться на предыдущий вопрос
						.quiz-plate-bullets
							span
							span.active
							span
							span
							span
							span
					
					//======= правая часть с картинкой ============
					.page-form__decore
						.text-block
							.medium-20 Оформите заявку
							.text-18 ответив на несколько вопросов
						
						.page-form__image
							img(src="./img/decore.png", width="340" alt="img")
						
						.text-block.text-right
							.text-18 и получите
							.bold-20.text-upper Видеодиагностику бесплатно
			
			//=======  #3 =============
			.quiz-plate#quiz-plate-3
				.page-form
					//======= левая часть с инпутами ============
					.page-form__content
						.plate-title
							.text-20 Сколько лет скважине?
							p Шаг 3
						.quiz-questions
							.input-label ведите примерное количество лет скважины
							.form-item
								input(type="text" name="" placeholder="Возраст")
								
							.quiz-btn
								button.btn.btn-next(type="button") Далее							
								button(type="button").text-accent.btn-prev Вернуться на предыдущий вопрос
						.quiz-plate-bullets
							span
							span
							span.active
							span
							span
							span
					
					//======= правая часть с картинкой ============
					.page-form__decore
						.text-block
							.medium-20 Оформите заявку
							.text-18 ответив на несколько вопросов
						
						.page-form__image
							img(src="./img/decore.png", width="340" alt="img")
						
						.text-block.text-right
							.text-18 и получите
							.bold-20.text-upper Видеодиагностику бесплатно

			//=======  #4 =============
			.quiz-plate#quiz-plate-4
				.page-form
					//======= левая часть с инпутами ============
					.page-form__content
						.plate-title
							.text-20 Глубина скважины
							p Шаг 4
						.quiz-questions
							.input-label Введите глубину скважины в метрах
							.form-item
								input(type="text" name="" placeholder="Глубина")
								
							.quiz-btn
								button.btn.btn-next(type="button") Далее							
								button(type="button").text-accent.btn-prev Вернуться на предыдущий вопрос
						.quiz-plate-bullets
							span
							span
							span
							span.active
							span
							span
					
					//======= правая часть с картинкой ============
					.page-form__decore
						.text-block
							.medium-20 Оформите заявку
							.text-18 ответив на несколько вопросов
						
						.page-form__image
							img(src="./img/decore.png", width="340" alt="img")
						
						.text-block.text-right
							.text-18 и получите
							.bold-20.text-upper Видеодиагностику бесплатно
			
			//=======  #5 =============
			.quiz-plate#quiz-plate-5
				.page-form
					//======= левая часть с инпутами ============
					.page-form__content
						.plate-title
							.text-20 Опишите вашу проблему
							p Шаг 5
						.quiz-questions
							.input-label *Не обязательно, можете пропустить этот шаг
							.form-item
								textarea(type="text" name="")
								
							.quiz-btn
								button.btn.btn-next(type="button") Далее							
								button(type="button").text-accent.btn-prev Вернуться на предыдущий вопрос
						.quiz-plate-bullets
							span
							span
							span
							span
							span.active
							span
					
					//======= правая часть с картинкой ============
					.page-form__decore
						.text-block
							.medium-20 Оформите заявку
							.text-18 ответив на несколько вопросов
						
						.page-form__image
							img(src="./img/decore.png", width="340" alt="img")
						
						.text-block.text-right
							.text-18 и получите
							.bold-20.text-upper Видеодиагностику бесплатно
			//=======  #6 =============
			.quiz-plate#quiz-plate-6
				.page-form
					//======= левая часть с инпутами ============
					.page-form__content
						.plate-title
							.text-20 Контактные данные
							p Шаг 6
						.quiz-questions
							
							.form-wrapper
								.form-item
									input(type="text" name="user" placeholder="Имя")
								.form-item
									input(type="text" name="phone" placeholder="Телефон")
								.agree-text Заполняя форму, Вы даете согласие на обработку персональных данных	
							.quiz-btn
								button.btn.btn-next(type="submit") Далее							
								button(type="button").text-accent.btn-prev Вернуться на предыдущий вопрос
						.quiz-plate-bullets
							span
							span
							span
							span
							span
							span.active
					
					//======= правая часть с картинкой ============
					.page-form__decore
						.text-block
							.medium-20 Оформите заявку
							.text-18 ответив на несколько вопросов
						
						.page-form__image
							img(src="./img/decore.png", width="340" alt="img")
						
						.text-block.text-right
							.text-18 и получите
							.bold-20.text-upper Видеодиагностику бесплатно

//============slogan============
section.services-feedback
	.container
		.text-block
			.text-24 Мы знаем полную технологию бурения, устройство грунтов в разных районах Москвы и Московской области, поэтому достигаем желаемого результата!
			.text-24.text-bold У вас остались вопросы?
		.center-align-mobile
			button.btn-accent(type="button" frame-btn="modal-form") Оставить заявку 