.btn,.btn-accent{
	display: inline-block;
	min-width: 280px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	font-weight: 600;
	font-family: $ff2;
	border-radius: 30px;
	color: #fff;
	background-color: $dark;
	transition: .3;
	text-align: center;
	cursor:pointer;
	&:hover{
		background-color: $dark-hover;
		color:#fff;
	}
	@media(max-width:1364px){
		height: 45px;
		line-height: 45px;
		font-size: 14px;
		min-width: 217px;
	}
}
.btn-accent{
	background-color: $accent;
	&:hover{
		background-color: $accent-hover;
	}
}