.form-item{
	position: relative;
	
	input{
		display: block;
		width: 100%;
		background: #FFFFFF;
		border:1px solid $accent;
		border-radius: 10px;
		height: 50px;
		color: $dark;
		font-size: 16px;
		padding-left: 20px;
		padding-right: 20px;
		&::placeholder{color: $dark;}
		@media (max-width: 1199px) {
			height: 45px;
		}
	}

}
input[type="checkbox"],input[type="radio"]{
	position: absolute;
	width: 0.01px;
	height: 0.01px;
	left: 0;
	top: 0;
	opacity: 0;
}
.label{
	display: flex;
	align-items: center;
	span+p{margin-left: 30px;}
	p{
		font-size: 18px;
		font-weight: 300;
	}
	@media (max-width: 767px) {
		span+p{margin-left: 20px;}
		p{font-size: 16px;}
	}
}
.fake-checkbox{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid $dark;
	flex-shrink: 0;
	background-color:#fff;
	outline: 4px solid rgba(255,255,255,1); 
    outline-offset: 0; 
	transition: .2s;
}
input[type="radio"]:checked~.fake-checkbox,
input[type="checkbox"]:checked~.fake-checkbox{
	background-color: $dark;
	outline-offset: -5px; }
.page-form{
	border: 1px solid $accent;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	input{color: $dark;}
	.page-form__content{
		padding: 53px 128px 53px 100px;
		width: 70%;
		max-width: 800px;
		&>.text-20{
			margin-bottom: 50px;
			@media (max-width: 767px) {
				font-size: 16px;
				margin-bottom: 30px;
			}
		}
	}
	.page-form__decore{
		width: 35%;
		max-width: 380px;
		border-radius: 10px;
		position: relative;
		z-index: 2;
		background-color: $accent;
		padding: 60px 50px;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.text-18{font-size: 18px;}
		.text-block{
			position: relative;
			z-index:3;
			&>*+*{margin-top: 10px;}
			.text-upper{
				font-size: 20px;
			}
		}
		.page-form__image{
			position: absolute;
			z-index: 2;
			bottom: 0;
			left: 0;
			transform: translateX(-30%);
			img{
				width: 350px;
				height: 335px;
				object-fit: cover;
				
			}
			@media (max-width: 1199px) {
				bottom: 0;
				right: 0px;
				left:auto;
				transform: translateX(0);
				img{
					width: 332px;
					height: 316px;
				}
					
			}
			@media (max-width: 767px) {
				position: relative;
				padding-top: 20px;
				display: flex;
				justify-content: center;
				margin-bottom: -50px;
				img{
					width: 248px;
					height: 215px;
					
				}
			}
		}
		@media (max-width: 1199px) {
			padding: 40px;
			.text-block{
				max-width: 270px;
			}
			// .text-block +.text-block{margin-top: 50px;}
			min-height: 285px;
		}
		@media (max-width: 767px) {
			padding: 25px 20px;
			.text-block{
				max-width: 270px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.form-wrapper{
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap:20px;
		row-gap:20px;
		align-items: center;
		@media (max-width: 1199px) {
			grid-template-columns:  160px 162px 217px   ;
			row-gap:23px;
		}
		@media (max-width: 767px) {
			grid-template-columns:  1fr;
			row-gap:10px;
		}
	}
	@media(max-width:1199px){
		flex-direction: column;
		.page-form__content{
			width: 100%;
			padding: 25px 20px 40px ;
		}
		.page-form__decore{
			width: 100%;
			max-width: 100%;
		}
	}
	@media (max-width: 767px) {
	  .form-btn .btn, .form-btn .btn-accent{width: 240px;}
	}
}
.checkbox-group +.form-wrapper{
	margin-top: 62px;
	@media (max-width: 767px) {
		margin-top: 47px;
	}
}
.agree-text{
	font-size: 14px;
	color: $accent;
	font-weight: 300;
	@media (max-width: 1199px) {
		font-size: 12px;
	}
	@media (max-width: 767px) {
		font-size: 12px;
		
	}
}
.page-form .agree-text{
	@media (max-width: 767px) {
		
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.form-wrapper{
	.agree-text.visible-tablet{display: none;}
	@media(min-width:768px) and(max-width:1199px){
		.agree-text{display: none;}
		.agree-text.visible-tablet{display: block; min-width: 217px; max-width: 220px;}
	}
}
.checkbox-group--grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	row-gap:20px;
	@media (max-width: 767px) {
		grid-template-columns:  1fr;
		row-gap:15px;
	}
}
.modal-frame{
	form{
		.form-item + .form-item{
			margin-top: 20px;
		}
		input{
			border-color: transparent;
		}
		input::placeholder{
			color: rgba(46, 89, 132, 0.5);
		}
		.form-button{
			margin-top: 40px;
			.btn, .btn-accent{width: 100%;}
			@media(min-width:1200px){
				.btn, .btn-accent{
					height: 60px;
				line-height: 60px;
				font-size: 16px;
				}
				
			}
		}
		.agree-text{
			color: #fff;
			margin-top: 20px;
		}
	}
}
textarea{
	border: 1px solid #2E5984;
	border-radius: 10px;
	height: 94px;
	resize: none;
	max-width: 480px;
	width: 100%;
}