.h1{
	font-size: 42px;
	line-height: 1.167;
	font-weight: 500;
	@media(max-width:1364px){
		font-size: 36px;
	}
	@media(max-width:767px){
		font-size: 30px;
	}
}
.h2,.title-2{
	font-size: 24px;
	line-height: 1.167;
	color: $dark;
	margin-bottom: 60px;
	font-weight: 700;
	@media(max-width:1364px){
		font-size: 20px;
		margin-bottom: 40px;
	}
}
.title-2{
	font-weight: 600;
	font-family: $ff2;
}
.h3{
	font-family: $ff2;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
}
.h4{
	font-family: $ff2;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: $accent;}
section .h2{
	margin-bottom: 60px;
	text-transform: uppercase;
	@media (max-width: 1023px) {
		margin-bottom: 40px;
	}
}
.text-42{
	font-weight: 700;
	font-size: 42px;
	line-height: 1.167;
	@media(max-width:1364px){
		font-size: 30px;
	}
	@media(max-width:767px){
		font-size: 24px;
	}


}
.text-20, .medium-20, .bold-20, .inter-20{
	font-size: 20px;
	line-height: 1.2;
	@media (max-width: 767px) {
		font-size: 18px;
	}
}
.inter-20{
	font-family: $ff2;
	@media (max-width: 1199px) {
		font-size: 18px;
	}
}
.medium-20{
	font-weight: 500;
}
.bold-20,.text-bold{
	font-weight: bold;
}
.text-24{
	font-size: 24px;
	line-height: 1.167;
	font-family: $ff2;
	@media (max-width: 1199px) {
		font-size: 18px;
	}
	@media (max-width: 767px) {
		font-size: 16px;
	}

}
.text-upper{
	text-transform: uppercase;
}
.text-accent{
	color: $accent;
}
.text-right{text-align: right;}
.mb-30{
	margin-bottom: 30px;
}
.pt-100{
	padding-top: 100px;
	@media (max-width: 1199px) {
		padding-top: 60px;
	}
	@media (max-width: 767px) {
		padding-top: 70px;
	}
}