.h1{
	font-size: 42px;
	line-height: 1.167;
	font-weight: 500;
	@media(max-width:1364px){
		font-size: 36px;
	}
	@media(max-width:767px){
		font-size: 30px;
	}
}
.h2{
	font-size: 24px;
	line-height: 1.167;
	color: $dark;
	text-transform: uppercase;
	font-weight: 700;
	@media(max-width:1364px){
		font-size: 20px;
	}
}
.h3{
	font-family: $ff2;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
}
.h4{
	font-family: $ff2;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: $accent;}
section .h2{
	margin-bottom: 60px;
	@media (max-width: 1023px) {
		margin-bottom: 40px;
	}
}
.text-42{
	font-weight: 700;
	font-size: 42px;
	line-height: 1.167;
	@media(max-width:1364px){
		font-size: 30px;
	}
	@media(max-width:767px){
		font-size: 24px;
	}


}