.desktop-navigation{
	position: absolute;
	left: 0;
	right: 0;
	top: 135px;
	z-index: 3;
}
.header-menu{

	&>*{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	a{
		font-family: $ff1;
		font-size: 16px;
		line-height: 19px;
		font-weight: 300;
		color: #fff;
		transition: .3s;
		&:hover{
			color: $accent;
		}
	}
	@media(max-width:1199px){
		display: none;
	}
}
.mobile-menu{
	display: none;
	color: #fff;
	transition: .5s;
	a{color: #fff;}
	&__nav a{
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
		font-family: $ff1;
	}
	&__nav  li+li{margin-top: 40px;}
	&__nav li.active a{
		color: $accent;
	}
	&__contacts{
		margin-top: 60px;
		.text-link{
			color: #fff;
		}
	}
	&__btn{margin-top: 40px;
		.btn, .btn-accent{width: 240px;} 
		min-width: 240px;
	}
	@media(max-width:1199px){
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		
		
		z-index: 15;
		background: rgba(46, 89, 132, 0.5);
		backdrop-filter: blur(20px);
		padding: 50px;
		padding-top: 120px;
		transform: translateX(-150%);
		&.active{
			transform: translateX(0);
		}
		.contacts-block__col{
			&>*+* {margin-top: 15px;}
			.text-link{
				font-family: $ff2;
				font-size: 16px;
			}
		}
		.contacts-block__tel{
			&>*+* {margin-top: 2px;}
			.text-link{
				font-size: 18px;
			}
		}
		
	}
	overflow: hidden;
		overflow-y: auto;
		scrollbar-width: none;
		&::-webkit-scrollbar{
			display: none;
			width: 0;
			height: 0;
		}
	@media(max-width:767px){
		padding: 20px;
		padding-top: 60px;
		&__contacts{
		margin-top: 45px;
		
		}
		.contacts-block__tel{
			
			.text-link{
				font-size: 16px;
			}
		}
		&__nav a{			
			font-size: 18px;
			line-height: 21px;			
		}
		&__nav  li+li{margin-top: 20px;}
		}
		.contacts-block__col+.contacts-block__col{margin-top: 20px;}
}
#mobile-menu-close{
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 2;
	@media (max-width: 767px) {
	top: 12px;
	}
	
}
#mobile-menu-close.menu-toggle span {
		background-color: transparent!important;
	}

#mobile-menu-close.menu-toggle span:after {
		top: 0px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		background-color: #fff;
	}

#mobile-menu-close.menu-toggle span:before {
		bottom: 0px;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		background-color: #fff;
}
#menu-toggle-desk.menu-toggle.active{
	pointer-events: none;
}