.tabs-content{
	display: none;
	opacity: 0;
}
.tabs-content.active{
	display: flex;
	animation-name: opacity;
	animation-fill-mode: forwards;
	animation-duration: .3s;
	animation-timing-function: ease-in;
	
}
.tabs-button{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	@media (max-width: 1199px) {
		margin-bottom: 30px;
	}
	.tabs-button__item{font-size: 18px;
		opacity: .5;
		&:hover{
			opacity: .7;
		}
		@media (max-width: 1199px) {
			font-size: 16px;
		}
	}
	.tabs-button__item.active{opacity: 1;}
	.tabs-button__item  +.tabs-button__item {
		margin-left: 115px;
		@media (max-width: 1199px) {
			margin-left: 35px;
		}
		@media (max-width: 767px) {
			margin-left: 70px;
		}
	}
}
@keyframes opacity{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
