extends ../layouts/layout.pug

block content
	include ../blocks/_mobile-menu
	include ../sections/_header-banner
	include ../sections/_header-main
	main.main.pt-0
		include ../sections/_statistic
		include ../sections/_service
		include ../sections/_work-steps
	
	
block variables
	-var title = "Главная";
	-var bodyCl = "main-page";
