extends ../layouts/layout.pug

block content
	include ../blocks/_mobile-menu
	include ../sections/_header-main
	+navmenu([
		{title: 'Главная', link: 'index.html', addcl: 'active'},
		{title: 'Услуги', link: 'uslugi.html'},
		{title: 'Цены', link: 'price.html'},
		{title: 'Районы обслуживания', link: 'region.html'},
		{title: 'Оформление заявки', link: 'zayavka.html'},
		{title: 'Наши работы', link: 'portfolio.html'},
		{title: 'Контакты', link: 'contacts.html'}
		])
	include ../sections/_header-banner
	
	
	main.pt-0
		include ../sections/_statistic
		include ../sections/_service		
		include ../sections/_price-table
		include ../sections/_assess-object		
		include ../sections/_work-steps
		include ../sections/_portfolio-slider
		
		include ../sections/_benefits
		include ../sections/_video-rev
		include ../sections/_feedback
		include ../sections/_about
		include ../sections/_faq
		include ../sections/_present
		include ../sections/_review
	include ../sections/_footer
		
		
	
	
block variables
	-var title = "Главная";
	-var bodyCl = "main-page";
