extends ../layouts/layout.pug

block content
	include ../blocks/_mobile-menu
	include ../sections/_header-banner
	include ../sections/_header-main
	main.main.pt-0
		include ../sections/_statistic
		include ../sections/_service		
		include ../sections/_price-table
		include ../sections/_assess-object		
		include ../sections/_work-steps
		include ../sections/_portfolio-slider
		include ../sections/_benefits
		include ../sections/_review
		include ../sections/_about
		include ../sections/_faq
	
	
block variables
	-var title = "Главная";
	-var bodyCl = "main-page";
