include _mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		
		//======= swiper slider =============
		link(rel="stylesheet" href="./libs/swiper/swiper.min.css" )
		
		//=============== fancybox gallery ===================
		link(rel="stylesheet" href="./libs/fancybox/jquery.fancybox.min.css")
		
		//=======убрать перевод цифр в номер телефона на ios  и safari ======
		meta(name="format-detection" content="telephone=no")
		
		//======= подключение шрифтов ======
		link(rel="stylesheet", href="./fonts/fonts.css")
		

		//======= подключение основных стилей ======
		link(rel="stylesheet", href="./css/main.css")
		title !{title}
		
	body(class=(bodyCl !=="" ? bodyCl : ''))
		#overlay
		block content
		
		//=============== jquery ===================
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		
		//=============== swiper ===================
		script(src="./libs/swiper/swiper.js")
		
		//=============== fancybox gallery ===================
		script(src="./libs/fancybox/jquery.fancybox.min.js")
		
				
		//=============== мои скрипты ===================		
		script(src="./js/main.js")